# Proyecto 2 - Analisis Exploratorio
|      Nombre     | Carnet |
|:---------------:|:------:|
| André Rodríguez |  18332 |
|   Cesar Rodas   |  16776 |
|  Javier Ramirez |  18099 |
|  Abril Palencia |  18198 |

### Importación de librerías
Se importan las librerías necesarias para el funcionamiento del laboratorio:

In [1]:
import pandas as pd
from collections import Counter
from wordcloud import WordCloud
import matplotlib.pyplot as plt

Se carga el archivo con los datos preprocesados

In [2]:
data_tw = pd.read_csv('clean_data.csv')

data_tw[:5]

  keyword location                                               text  target
0    None     None       deeds reason earthquake may allah forgive us       1
1    None     None                 forest fire near ronge sask canada       1
2    None     None  residents asked shelter place notified officer...       1
3    None     None  people receive wildfires evacuation orders cal...       1
4    None     None  got sent photo ruby alaska smoke wildfires pou...       1

## Analisis Exploratorio

Funciones para obtener información para el analisis exploratorio.

In [3]:
# Funcion para mostrar los 10 items mas frecuentes en una columna de un dataset
def show_dataset_frequency(dataset,column_name,separator,limit):
  dataset[column_name] = dataset[column_name].astype(str)

  categories = [line.split(separator) for line in dataset[column_name]]

  categories = [y for x in categories for y in x]

  freq = dict(Counter(categories))

  sorted_freq = sorted(freq.items(), key=lambda x:x[1])

  for x in range(1,limit+1):
    item = sorted_freq[len(sorted_freq)-x]
    print(str(x) + ". " + item[0] + " => " + str(item[1]))

In [4]:
# Funcion para mostrar la nube de palabras
def generate_word_cloud(arr,title):
  word_map = WordCloud(background_color='white',).generate(" ".join(arr))
  plt.figure(figsize=(10,10))
  plt.imshow(word_map)
  plt.title("Nube de palabras " + title)
  plt.show()