# Proyecto 2
|      Nombre     | Carnet |
|:---------------:|:------:|
| André Rodríguez |  18332 |
|   Cesar Rodas   |  16776 |
|  Javier Ramirez |  18099 |

### Importación de librerías
Se importan las librerías necesarias para el funcionamiento del laboratorio:

In [1]:
import pandas as pd
import numpy as np
import nltk
import re

nltk.download('stopwords')

from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\cesarvin\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

Se carga el dataset original desde el archivo train.csv

In [2]:
dataset = pd.read_csv('train.csv')
dataset[:5]

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

Tamaño del dataset original.

In [3]:
print("Columnas: " + str(dataset.shape[1]))
print("Filas: " + str(dataset.shape[0]))

Columnas: 5
Filas: 7613

Tipo de columnas en el dataset original

In [4]:
display(dataset.dtypes)

id           int64
keyword     object
location    object
text        object
target       int64
dtype: object

 - Se elimina la columna de id
 - Se convierten las columnas de keyword, location y text a tipo 'string'
 - Se cambian los valores NaN por la palabra "None" en las columnas keyword y location.

In [5]:
if 'id' in dataset.columns: del dataset['id']

dataset['keyword'].fillna('None',inplace=True)
dataset['location'].fillna('None',inplace=True)
dataset['text'].fillna('None',inplace=True)

dataset['keyword'] = dataset['keyword'].astype(str)
dataset['location'] = dataset['location'].astype(str)
dataset['text'] = dataset['text'].astype(str)

dataset[:15]

   keyword location                                               text  target
0     None     None  Our Deeds are the Reason of this #earthquake M...       1
1     None     None             Forest fire near La Ronge Sask. Canada       1
2     None     None  All residents asked to 'shelter in place' are ...       1
3     None     None  13,000 people receive #wildfires evacuation or...       1
4     None     None  Just got sent this photo from Ruby #Alaska as ...       1
5     None     None  #RockyFire Update => California Hwy. 20 closed...       1
6     None     None  #flood #disaster Heavy rain causes flash flood...       1
7     None     None  I'm on top of the hill and I can see a fire in...       1
8     None     None  There's an emergency evacuation happening now ...       1
9     None     None  I'm afraid that the tornado is coming to our a...       1
10    None     None        Three people died from the heat wave so far       1
11    None     None  Haha South Tampa is getting flooded hah- WAIT ...       1
12    None     None  #raining #flooding #Florida #TampaBay #Tampa 1...       1
13    None     None            #Flood in Bago Myanmar #We arrived Bago       1
14    None     None  Damage to school bus on 80 in multi car crash ...       1

Se muestran nuevamente las columnas del dataset luego del procesamiento.

In [6]:
display(dataset.dtypes)

keyword     object
location    object
text        object
target       int64
dtype: object

Eliminación de stopwords en la columna de text. Para ello, se convierten todas las palabras en la oracion a minuscula y luego se elimnan las stopwords.

In [7]:
# funcion para limpiar archivos
def clean_txt(str):
    return_text = ''
    # removiendo links
    text = re.sub(r'^https?:\/\/.*[\r\n]*', '', str)

    # remover caracteres
    for i, caracter in enumerate(text):
        # convierte a minusculas
        caracter = caracter.lower()
        try:
          # remueve cualquier caracter que no sea una letra minuscula o espacio, incluyendo numeros
          if ord(caracter) != 32 and (ord(caracter) < 97 or ord(caracter) > 122) :
              return_text = return_text + ''
          else:
              return_text = return_text + caracter
        except: 
            return_text = return_text + ''

    
    return return_text.strip()

In [8]:
# funcion para remover stepwords
def remove_stepwords(str):
    word_tokens = str.split()
    clean_str = ''

    for word in word_tokens:
        if word not in stopwords_list:
            if clean_str == '':
              clean_str += word
            else:
              clean_str += ' ' + word
    
    return clean_str

In [9]:
stopwords.words('english')
stopwords_list = stopwords.words()

dataset_array = dataset.to_numpy()

for i in range(len(dataset_array)):
    dataset_array[i][2] = remove_stepwords(clean_txt(dataset_array[i][2]))

clean_dataset = pd.DataFrame(dataset_array,columns=['keyword','location','text','target'])

clean_dataset[:15]

   keyword location                                               text target
0     None     None       deeds reason earthquake may allah forgive us      1
1     None     None                 forest fire near ronge sask canada      1
2     None     None  residents asked shelter place notified officer...      1
3     None     None  people receive wildfires evacuation orders cal...      1
4     None     None  got sent photo ruby alaska smoke wildfires pou...      1
5     None     None  rockyfire update california hwy closed directi...      1
6     None     None  flood disaster heavy rain causes flash floodin...      1
7     None     None                            top hill see fire woods      1
8     None     None  theres emergency evacuation happening building...      1
9     None     None                         afraid tornado coming area      1
10    None     None                    three people died heat wave far      1
11    None     None  haha south tampa getting flooded hah wait seco...      1
12    None     None  raining flooding florida tampabay tampa days i...      1
13    None     None                    flood bago myanmar arrived bago      1
14    None     None               damage school bus car crash breaking      1

Guardado del archivo en un archivo nuevo llamado clean_data.csv

In [10]:
clean_dataset.to_csv('clean_data.csv',index=False)